.git
.idea
reports
*.test
*.out
.DS_Store

pkcs11-proxy
testclient
*.exe
dist/
.tool/

pki/
*.key
*.pem
*.log
audit*.log*
.env
.env.*
pkcs11-proxy.yaml

**/.git
**/.tool
**/reports
**/dist
**/.env
**/.env.*
go.work
go.work.sum
**/*.key
**/*.pem
**/*.log
